@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant toggle_on (&:where(.toggle_on, .toggle_on *));

@theme {
  --color-neutral-0: #fbfdfe;
  --color-neutral-100: #eeeeee;
  --color-neutral-200: #d6e2f5;
  --color-neutral-300: #c6c6c6;
  --color-neutral-600: #535868;
  --color-neutral-700: #2f364b;
  --color-neutral-800: #202535;
  --color-neutral-900: #091540;
  --color-red-400: #f25c54;
  --color-red-500: #de4840;
  --color-red-700: #c7231a;

  --breakpoint-desktop: 1170px;
}

#mainh1 {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.details p {
  word-break: break-word;
  color: #535868;
}

@layer components {
  .filter-btn-inactive {
    @apply text-[20px] font-medium rounded-full border border-neutral-200 bg-neutral-0 text-neutral-800 pt-2 pb-2.5 px-5
    cursor-pointer hover:text-neutral-950 hover:opacity-70
    dark:border-neutral-600 dark:bg-neutral-700 dark:text-white
    dark:hover:bg-neutral-600 dark:hover:text-white;
  }

  .filter-btn-active {
    @apply text-[20px] font-medium rounded-full bg-red-700 text-neutral-0 pt-2 pb-2.5 px-5
    hover:text-neutral-0 hover:opacity-100
    dark:border-0 dark:bg-red-400 dark:text-neutral-900
    dark:hover:bg-red-400 dark:hover:text-neutral-900;
  }

  .extinfo {
    @apply flex space-x-4 mx-4 mt-4;
  }
  .section-cards {
    @apply mt-10 mx-auto grid grid-cols-[repeat(auto-fit,minmax(300px,343px))] gap-3 justify-center 
    md:mt-8 md:max-w-[790px] md:grid-cols-2 
    xl:max-w-[1200px] xl:grid-cols-3 2xl:grid-cols-[repeat(4,minmax(270px,400px))] 2xl:max-w-[1700px] 2xl:gap-y-7;
  }
  .card {
    @apply bg-neutral-0 border border-neutral-200 rounded-[20px] w-full h-[200px]
    md:w-[346px]
    xl:w-full
    dark:bg-neutral-800  dark:border-neutral-600;
  }

  .ico-container {
    @apply rounded-[10px] w-[120px];
  }

  #detail-h2 {
    @apply text-xl font-bold text-neutral-900;
  }

  .btnsContainer {
    @apply flex justify-between items-center;
  }

  .btnText {
    @apply mt-5 cursor-pointer
    hover:bg-red-700 hover:text-neutral-0
    transition;
  }

  .btnToggle {
    @apply mt-5 py-0.5;
  }

  .btn-ext {
    @apply text-[16px] mx-4 px-4 py-2 font-bold border border-neutral-300 rounded-full text-neutral-900;
  }

  .toggle-btn {
    @apply bg-neutral-300 dark:bg-neutral-600 w-9 h-5 mx-4 rounded-full cursor-pointer flex;
  }

  .toggle-circle {
    @apply w-4 h-4 bg-neutral-0 mx-0.5 rounded-full shadow;
  }
  .ison {
    @apply ml-auto self-end;
  }
}
